<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="phongCT" connectionString="server=PHONG-PC;database=TSQLFundamentals2008;uid=sa;pwd=1234"
         providerName="System.Data.SqlClient" />
    <add name="phongsDesktop" connectionString="server=PHONG-PC;database=TSQLFundamentals2008;uid=sa;pwd=1234"
         providerName="System.Data.SqlClient" />
    <add name="phongsLaptop" connectionString="server=PHONGTLSE61770;database=TSQLFundamentals2008;uid=sa;pwd=1234"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>